In [5]:
import sqlite3

# Conexión a la base de datos
conn = sqlite3.connect('check_app.db')
c = conn.cursor()

# Crearemos tres tablas

c.execute('''CREATE TABLE IF NOT EXISTS registro_entradas
             (id INTEGER PRIMARY KEY AUTOINCREMENT,
              id_empleado TEXT,
              employee_name TEXT,
              checkin_type TEXT,
              checkin_time TIMESTAMP)''')

c.execute('''CREATE TABLE IF NOT EXISTS registro_salidas
             (id INTEGER PRIMARY KEY AUTOINCREMENT,
              id_empleado TEXT,
              employee_name TEXT,
              checkin_type TEXT,
              checkin_time TIMESTAMP)''')

c.execute('''CREATE TABLE IF NOT EXISTS empleados
             (id INTEGER PRIMARY KEY,
              id_empleado TEXT UNIQUE,
              nombre TEXT,
              apellido TEXT)''')

# Datos de empleados ficticios
empleados = [
    ("Ric", "Brein"),
    ("Maria", "Perez"),
    ("Michael", "Martinez"),
    ("Emily", "Rodriguez"),
    ("Daniel", "Soto"),
    ("Olivia", "Ayuso"),
    ("David", "Moreno"),
    ("Sofia", "Hernandez"),
    ("Matias", "Vegas"),
    ("Clara", "Sanz"),
    ("Andres", "Moreno"),
    ("Mia", "Martinez"),
    ("Benjamin", "Casado"),
    ("Juan", "Iglesias"),
    ("William", "Marin")
]

# Agregar empleados a la tabla mediante la lista

for i, employee in enumerate(empleados, start=1):
    id_empleado = f"E{i:03}"
    nombre, apellido = employee
    c.execute("INSERT INTO empleados (id_empleado, nombre, apellido) VALUES (?, ?, ?)",
              (id_empleado, nombre, apellido))
    conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: empleados.id_empleado

In [6]:
conn = sqlite3.connect('check_app.db')
c = conn.cursor()
# Consultar y mostrar los empleados agregados
c.execute("SELECT * FROM empleados")
records = c.fetchall()
print("Empleados agregados:")
for record in records:
    print(f"ID: {record[1]}, Nombre: {record[2]} {record[3]}")

# Cerrar la conexión a la base de datos
conn.close()

Empleados agregados:
ID: E001, Nombre: Ric Brein
ID: E002, Nombre: Maria Perez
ID: E003, Nombre: Michael Martinez
ID: E004, Nombre: Emily Rodriguez
ID: E005, Nombre: Daniel Soto
ID: E006, Nombre: Olivia Ayuso
ID: E007, Nombre: David Moreno
ID: E008, Nombre: Sofia Hernandez
ID: E009, Nombre: Matias Vegas
ID: E010, Nombre: Clara Sanz
ID: E011, Nombre: Andres Moreno
ID: E012, Nombre: Mia Martinez
ID: E013, Nombre: Benjamin Casado
ID: E014, Nombre: Juan Iglesias
ID: E015, Nombre: William Marin
ID: E016, Nombre: Carlos Gómez
ID: E017, Nombre: Susana horia
ID: E018, Nombre: Aitor Tilla
ID: E020, Nombre: Marta Perez
ID: E021, Nombre: Jhonny Bravo